body{
    background-color: cornsilk;
}


h1{
    font-family: Arial;
    background-color: aqua;
    margin-bottom: 50px;
}

h3{
   font-family: cursive;
   border: solid crimson 4px;
   width: 40%;
   text-align: center;
   margin-left: 400px;
}

p{
    font-family: cursive;
    margin-left: 400px;
    border: solid crimson 4px;
    width: 40%;
    text-align: center;
}
